@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
    margin: 0;
    font-family: Lato, sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    /* background: burlywood; */
    height: 100px;
    border-bottom: 1px solid #ececec;
}

.headerInside {
    height: inherit;
    /* background: rgb(146, 199, 87); */
    display: flex;
    align-items: center;
}

.logo {
    width: 165px;
    line-height: 51px;
    background: url(../images/logo.png) no-repeat;
    display: block;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    letter-spacing: 0.68px;
    text-decoration: none;
    padding-left: 72px;
}

.logo span {
    font-weight: 900;
    color: #f16d7f;
}

.topSearchForm {
    height: 38px;
    display: flex;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    overflow: hidden;
}

.topSearchForm .browse,
.topSearchForm input,
.topSearchForm button {
    height: inherit;
    display: block;
}

.topSearchForm .browse {
    border: none;
    border-right: 1px solid #e6e6e6;
    width: 87px;
    font-family: inherit;
    font-size: 14px;
    padding: 14px 26px 14px 15px;
    box-sizing: border-box;
    line-height: 9px;
    display: flex;
    color: #222222;
    font-weight: 300;
    background-color: #f8f8f8;
}

.topSearchForm .browse i {
    margin-left: 8px;
    position: relative;
    top: -2px;
}

.topSearchForm input {
    border: none;
    padding: 0;
    width: 280px;
    padding: 14px 16px;
    box-sizing: border-box;
    font-family: inherit;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.35px;
}

.topSearchForm input:focus {
    outline: none;
    background: #f8f8f8;
    color: black;
}

.topSearchForm button {
    border: none;
    border-left: 1px solid #e6e6e6;
    width: 36px;
    background: none;
}

.topSearchForm button i {
    color: #a4a4a4;
    font-size: 14px;
    line-height: 32px;
}

.topCart {
    margin-left: 349px;
}

.myAccBtn {
    margin-left: 26px;
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.38px;
    border: none;
}

.topNav {
    width: 680px;
    height: 51px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topNav a {
    text-decoration: none;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.topNav a:hover {
    border-bottom: 3px solid #ef5b70;
}

.promo {
    height: 613px;
    background-color: #e8e8e8;
}

.promoContainer {
    display: flex;
    align-items: center;
    height: inherit;
    background: url(../images/topHeaderBack.png) no-repeat right 40px top / 48.5%;
}

.promoSlogan {
    height: 92px;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
    color: #222222;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;
}

.promoSlogan div {
    font-size: 60px;
    letter-spacing: 1.5px;
    line-height: 44px;
    margin-bottom: 9px;
}

.promoSlogan span {
    color: #f16d7f;
}

.categories {
    margin-top: 100px;
}

.categoriesContainer {
    height: 823px;
    position: relative;
}

.hotDeal {
    width: 560px;
    height: 542px;
    background: url(../images/offer1.jpg) no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}

.categoriesTextWrap {
    padding: 16px;
    background: white;
    display: inline-block;
    margin-top: 26px;
}

.categoriesTextTop {
    color: #222222;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.45px;
}

.categoriesTextBottom {
    font-weight: 900;
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
}

.luxirous {
    width: 560px;
    height: 261px;
    background: url(../images/offer2.jpg) no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
}

.offer30 {
    width: 560px;
    height: 261px;
    background: url(../images/offer3.jpg) no-repeat;
    position: absolute;
    right: 0;
    top: 0;
}

.newArrivals {
    width: 560px;
    height: 542px;
    background: url(../images/offer4.jpg) no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}

.featuredItems {
    margin-top: 100px;
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.featuredItems div {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.suggestionMenu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.suggestionProduct {
    width: 261px;
    padding-top: 60px;
}

.suggestionProduct:not(:nth-child(4n)) {
    margin-right: 28px;
}

.productText {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
}

.productText span {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.BrowseButton {
    margin: 0 auto;
    width: 212px;
    height: 48px;
}

.BrowseProductsButton {
    margin-top: 100px;
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    display: block;
    border: none;
}

.banner30 {
    margin-top: 100px;
    position: relative;
    display: flex;
    height: 529px;
    margin-bottom: 100px;
}

.advertisement {
    background: url(../images/Layer_38.png) no-repeat;
    width: 767px;
    height: 529px;
    float: left;
}

.adText {
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 145px;
}

.ofr {
    color: #f16d7f;
    letter-spacing: 1.5px;
}

.forWomen {
    font-size: 32px;
    margin-top: -5px;
}


.deliverySales {
    background-color: #222224;
    width: 373px;
    height: 529px;
}

.deliverySalesInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 529px;
}

.delivery {
    display: inline-block;
    background: url(../images/Forma_1.svg) no-repeat;
}

.deliveryText {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding-left: 78px;
    width: 219px;
    padding-top: 10px;
}

.deliveryText div {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
}


.salesAndDisc {
    display: inline-block;
    background: url(../images/Forma_2.svg) no-repeat;
}

.salesAndDisc {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
}

.salesAndDiscText {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding-left: 78px;
    width: 219px;
    padding-top: 10px;
}

.salesAndDiscText div {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
}

.quality {
    display: inline-block;
    background: url(../images/Forma_3.svg) no-repeat;
}

.qualityText {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding-left: 78px;
    width: 219px;
    padding-top: 10px;
}

.qualityText div {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
}

.commsContainer {
    height: 438px;
    width: 1618px;
    margin: 0 auto;
    background: url(../images/Layer_41.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commsAndSub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 89px;
}

.comms {
    width: 500px;
    height: 126px;
    background: url(../images/Layer_40.png) no-repeat;
}

.commsContent {
    margin-left: 111px;
}

.commsText {
    color: #222224;
    font-size: 16px;
    line-height: 26px;
}

.author {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 14px;
}

.author span {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    font-family: "Lato-Bold", sans-serif;
    letter-spacing: 0.4px;
    line-height: 26px;
}

.pagination {
    width: 160px;
    height: 4px;
    position: absolute;
}

.bar {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    display: inline-block;
    margin-left: 14px;
}

.bar:hover {
    width: 38px;
    height: 4px;
    background-color: #f16d7f;
    display: inline-block;
    margin-left: 14px;
}

.bar:focus {
    width: 38px;
    height: 4px;
    background-color: #f16d7f;
    display: inline-block;
    margin-left: 14px;
}

.subText {
    text-align: center;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
}

.subText span {
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 54px;
}

.email {
    display: flex;
    height: 50px;
    margin-top: 30px;
}

.email input[type=text] {
    width: 334px;
    height: 48px;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    padding-left: 30px;
    border: none;
}

.subButton {
    width: 104px;
    height: inherit;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    border: none;
}

.footer {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.footerText {
    width: 427px;
    height: 180px;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 40px;
}

.footerNav h2 {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.footerNav a {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display: block;
}

.footerNav a:not(:last-child) {
    margin-bottom: 25px;
}

.footerNav2 a {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display: block;
}

.footerNav2 h2 {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.footerNav2 a:not(:last-child) {
    margin-bottom: 25px;
}

.copyrightsWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyrights {
    margin-top: 100px;
    height: 80px;
    background: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyrightLeft {
    color: #7a7a7a;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.4px;
}

.copyrightsRight {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.copyrightsRight a {
    text-decoration: none;
    color: inherit;
}

.copyrightsRight i {
    width: 32px;
    height: 32px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #b2b2b2;
}

.copyrightsRight i:hover {
    color: white;
    background: #f16d7f;
}

.topNavRed {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topNavRed p {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.topNavMenu {
    list-style-type: none;
    display: flex;
}

.topNavMenu li a {
    color: #f16d7f;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #636363;
    font-weight: 300;
}

.topNavMenu li a span {
    font-weight: 700;
    color: #f16d7f;
}

.topNavRedLink {
    text-decoration: none;
}

.topNavRedList:not(:last-child):after {
    content: "/";
}

.topNavContainer {
    background-color: #f8f3f4;
}



.shoppingCartHeader {
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
}

.shoppingCartHeaderSectionFirst {
    width: 515px;
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.shoppingCartHeaderSection {
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.InCartItem {
    height: 160px;
    border-bottom: 1px solid #eaeaea;
}

.shoppingCartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoppingCartItemColumnFirst {
    padding-top: 20px;
    width: 505px;
}

.BoughtItemImg {
    float: left;
}

.BoughtItemInfo {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.BoughtItemInfo .itemName {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.itemDescription {
    color: #575757;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

.itemDescription span {
    font-weight: 300;
}

.shoppingCartItemColumnQuantity {
    border: 1px solid #eaeaea;
    height: 30px;
    width: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.shoppingCartItemColumn {
    width: 30px;
    height: 10px;
    color: #656565;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.shoppingBtns {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.shoppingCartBtns {
    width: 235px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.orderDetails {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.shippingInfo h2 {
    width: 138px;
    height: 13px;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.shippingInfo .country input {
    width: 355px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    padding-left: 20px;
}

.country,
.city,
.Postcode {
    margin-top: 20px;
}

.shippingInfo .city input {
    width: 355px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    padding-left: 20px;
}

.shippingInfo .Postcode input {
    width: 355px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    padding-left: 20px;
}

.shippingInfo button {
    width: 100px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-top: 20px;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.discount {
    margin-left: 30px;
}

.discount h2 {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.discount p {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    margin-top: 25px;
}

.discount input {
    width: 355px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    padding-left: 20px;
    margin-top: 15px;
}

.discount button {
    width: 118px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
}

.checkout {
    height: 214px;
    width: 360px;
    background-color: #f5f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.checkout button {
    width: 273px;
    height: 50px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
}

.total {
    margin: 40px;
    width: 273px
}

.subTotal {
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
    float: right;
}

.grandTotal {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    clear: both;
    float: right;
}

.grandTotal span {
    color: #f16d7f;
}

.divider {
    height: 1px;
    width: 275px;
    background-color: #e2e2e2;
    margin-bottom: 20px;
    clear: both;
}